mixin menuList(itemMenu) 
    each item in itemMenu
        .accordion-item
            h2.accordion-header(id = item.heading_id class= item.active)
                i.ri-arrow-right-s-line
                button(type="button" data-bs-toggle="collapse" data-bs-target= `#${item.collapse_id}` aria-expanded="true" aria-controls= item.collapse_id)= item.category
            .accordion-collapse.collapse.show(aria-labelledby= item.heading_id data-bs-parent="#accordionExample" id= item.collapse_id)
                each n in item.product
                    .accordion-body
                        +link('product-detail.html')= n

mixin menuPrice(itemPrice)
    each price in itemPrice
        .accordion-item
            h2.accordion-header(id = price.heading_id)
                i.ri-arrow-right-s-line
                button(type="button" data-bs-toggle="collapse" data-bs-target= `#${price.collapse_id}` aria-expanded="true" aria-controls= price.collapse_id)= price.price

mixin menuColor(itemColor)
    each item in itemColor
        .color__item
            span(class= item.color) 
            +link= item.nameColor

mixin itemList(itemList)
    each item in itemList
        .product__list-item
            .product__list-img
                +img(item.src, item.alt) 
            .product__list-desc 
                .product__list-name
                    +link('detail-product.html')
                        span= item.nameProduct
                .product__list-rate
                    i.ri-star-fill
                    i.ri-star-fill
                    i.ri-star-fill
                    i.ri-star-fill
                    i.ri-star-half-fill
                .product__list-content
                    p= item.contentProduct 
                .product__list-price 
                    span= item.priceProduct
                .product__list-utilities
                    +link('cart-product.html') Mua ngay
                    +link('detail-product.html')
                        i.ri-search-line
                    +link()
                        i.ri-heart-fill
